mixin menu
	span.grid-content
		a.menu1.active(href="index.html") CSS
		a.menu2(href="index_3.html") Синтаксис CSS
		a.menu3(href="#") Вставка CSS
		a.menu4(href="#") CSS текст
		a.menu5(href="index_2.html") CSS шрифт
		a.menu6(href="#") Блоки
		
//menu.pug 
doctype html
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
	link(rel="stylesheet", href="css/main.css")
body
	.win
		block menu
			+menu
		block body